<!DOCTYPE html>
<html lang="EN">
<head>
	<meta charset="UTF-8">
	<title>Welcome Home</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="https://use.fontawesome.com/c606ab7025.js"></script>

<link rel="stylesheet" type="text/css" href="../public/assets/css/style.css">

<link href="https://fonts.googleapis.com/css?family=Cherry+Cream+Soda|Delius+Unicase|Luckiest+Guy|Neucha" rel="stylesheet">
</head>

<!------------------------------------Main Page-------------------------------  -->	
<body>

	<div class="container">	

<!------------------------------------Navbar------------------------------- -->	
		<div id = 'navbar'>
			<nav class="navbar navbar-default navbar-fixed-top">
		  		<div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
				      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
				      <a class="navbar-brand" href="#">Add Logo Here</a>
					</div>
				    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				      <ul class="nav navbar-nav navbar-right">
				        <li class="dropdown">
				          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
				          <ul class="dropdown-menu">
				            <li><a href="#">Action</a></li>
				            <li><a href="#">Another action</a></li>
				            <li><a href="#">Something else here</a></li>
				            <li role="separator" class="divider"></li>
				            <li><a href="#">Separated link</a></li>
				          </ul>
				        </li>
				      </ul>
				    </div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
			</nav>
		</div>
		<!------------------------------------Title------------------------------- -->
		
		<div class="jumbotron" id = "title">
		  <div class=".container">
			  <h1>Welcome Home</h1>
			  	<p>Add text to describe page. List search options. </p>
		  </div>
		</div>
	
		<!------------------------------------Main------------------------------- -->		
		<div class="main-section panel">
		<div id = "input-form">
			<h3 id="tableTitle" >Complete the form to start your search.</h3>
				<form>
				<div class="form-group">
				    <label for="InputName">First and Last Name</label>
				    <input type="text" class="form-control entry-box" id="InputName" placeholder="Pat Smith">
				  </div>
				  <div class="form-group">
				    <label for="InputAddress">Address</label>
				    <input type="text" class="form-control entry-box" id="InputAddress" placeholder="101 Main St.">
				  </div>
				  <div class="form-group">
				    <label for="InputEmail">Email address</label>
				    <input type="email" class="form-control entry-box" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email">
				    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
				  </div>
				  <div class="form-group">
				    <label for="InputZip">Zip Code</label>
				    <input type="email" class="form-control entry-box" id="InputZip" placeholder="12345">
				  </div>
				  <div class="form-group">
				    <label for="InputPhoto">Photo</label>
				    <input type="url" class="form-control entry-box" id="InputPhoto" placeholder="link to photo">
				  </div>
				  <!--<div class="form-group">
				    <label for="searchList">What would you like to search for?</label>
				    <select multiple class="form-control entry-box" id="searchList">
				      <option>Schools</option>
				      <option>Restaurants</option>
				      <option>Gyms</option>
				      <option>Parks and Recreation</option>
				      <option>Events and Nightlife</option>
				      <option>Breweries</option>
				      <option>Grocery</option>
				      <option>Shopping</option>

				    </select>
				  </div> -->
				  <button type="submit" class="btn btn-primary">Submit</button>
				</form>
		    
		</div>
		</div>
		<!------------------------------------Footer------------------------------- -->
		<div id = 'footer'>footer
			<nav class="navbar navbar-default navbar-fixed-bottom">
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			    </div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
			        <li class="active"><a href="mainPage.html"><span class="sr-only"></span><span class="glyphicon glyphicon-home"></span></a></li>
			        <li><a href="#">Link</a></li>
			      </ul>
			      <form class="navbar-form navbar-left">
			      </form>
			      <ul class="nav navbar-nav navbar-right">
			      </ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>

		</div>


		<!------------------------------------Modal------------------------------- -->


</body>
</html>










